<div class="container my-3">
<h2><%= @restaurant.name %></h2>
<br>
<h3>Details</h3>
<p>Catergory: <%= @restaurant.category %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<br>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.rating %>/5 <br>
    <%= review.content %></li>
  <% end %>
</ul>
<br>
<p class="btn btn-success"><%= link_to "Back to overview", restaurants_path %></p>
<p class="btn btn-success"><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></p>
</div>
